dev:
  DOMAIN: <API DOMAIN>
  ARN_PREFIX: <ARN_PREFIX>
  ARN: <ARN>
  ARN_KEY: <ARN KEY>
  ARN_TOPIC: 'sns-topic'
  AWS_ACC_ID: <AWS ACC ID>
  DYNAMODB_USER: 'SNS_DEV_USER'
  DYNAMODB_SUBSCRIBE_ACTION: 'SNS_DEV_SUBSCRIBE_ACTION'
  DYNAMODB_PUBLISH_ACTION: 'SNS_DEV_PUBLISH_ACTION'
prod:
  DOMAIN: <API DOMAIN>
  ARN_PREFIX: <ARN_PREFIX>
  ARN: <ARN>
  ARN_KEY: <ARN>
  ARN_TOPIC: 'sns-topic'
  AWS_ACC_ID: <AWS ACC ID>
  DYNAMODB_USER: 'SNS_PROD_USER'
  DYNAMODB_SUBSCRIBE_ACTION: 'SNS_PROD_SUBSCRIBE_ACTION'
  DYNAMODB_PUBLISH_ACTION: 'SNS_PROD_PUBLISH_ACTION'
